<div class="columns is-mobile toolbar">
    <div class="column is-half home" (click)="home()">
        <fa-icon [icon]="faHome"></fa-icon>
        <a class="home-activation"><b>ClubWeb</b></a>
    </div>
    <div class="column ellipsis">
        <div tabindex="-1" class="dropdown is-right" [ngClass]="{'is-active' : dropdownIsActive}"  (focusout)="removeSetting()">
            <div class="dropdown-trigger button-activation" (click)="settings()">
                <fa-icon [icon]="faEllipsisV" aria-haspopup="true" aria-controls="settings-menu"></fa-icon>
            </div>
            <div class="dropdown-menu settings" id="settings-menu" role="menu">
                <div class="dropdown-content">
                    <a (click)="groupOverview()" class="dropdown-item">
                        Groups
                    </a>
                    <a (click)="profile()" class="dropdown-item">
                        Profile
                    </a>
                    <hr class="dropdown-divider">
                    <a (click)="logout()" class="dropdown-item">
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>