<div 
  *ngIf='showView()' 
  [ngStyle]="styling" 
  [ngClass]="{'edit' : editPossible}"
  (click)='onFocusIn()' 
  class='cell'
  contentEditable=true>
    <span>{{ viewData }}</span>
    <span class="edit-icon"><fa-icon [icon]="faPen"></fa-icon></span>
</div>

<input 
  *ngIf='showInput()' 
  [type]='type'
  [ngStyle]="styling" 
  class='cellInput' 
  [formControl]='editInPlaceControl' 
  [class.input-error]="!inputIsValid()" 
  (focusout)="onFocusOut()" 
  appAutoFocus>

<textarea
  *ngIf='showTextArea()' 
  [ngStyle]="styling" 
  class='cellInput' 
  [formControl]='editInPlaceControl' 
  [class.input-error]="!inputIsValid()" 
  (focusout)="onFocusOut()" 
  appAutoFocus 
  (keydown.enter)="$event.preventDefault()"
>

</textarea>


<p class="error-message" *ngIf='!inputIsValid()'>{{ errorMessage }}</p>