<button class="button" (click)="openModal()">
  {{modalButtonText}}
</button>

<div class="modal pick-group-modal" [ngClass]="{'is-active' : confirmModalActive}">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-content">
      <div class="modal-card">
          <header class="modal-card-head">
              <p class="modal-card-title">{{title}}</p>
              <button type="button" class="close" (click)="closeModal()">
                  <span aria-hidden="true">&times;</span>
              </button>
          </header>
          <section class="modal-card-body scrollbar" id="scrollbar-style">
            <p>{{text}}</p>
          </section>
          <footer class="modal-card-foot">
              <div class="new-group-button-wrapper">
                  <div class="button new-group-button" (click)="confirmButtonClick()">
                      <span class="add-group-text">{{confirmButtonText}}</span>
                  </div>
              </div>
          </footer>
      </div>
  </div>
</div>