<li>
    <ul>
        <li (click)="goToOtherProfile()">{{member.user.userName}}</li>
        <li *ngIf="member.isAdmin">Admin</li>      
        <li *ngIf="showDeleteMember()">
            <app-confirm-dialog
                    [modalId]="'delete-member-modal'"
                    [title]="'Delete member'" [modalButtonText]="'Delete'" [text]="'Are you sure you want to delete this member?'"
                    [confirmButtonText]="'Delete'" [cancelButtonText]="'Cancel'" (confirm)="deleteMember(member.id)"></app-confirm-dialog>
        </li>  
    </ul>
</li>
