.main-columns{
    margin: 0px;
    background-color: darkgrey;
    height: calc(100% - 2.5em);
}

.main-columns-wrapper{
    height: 100vh;
}

.main-column{
    padding: 0px;
    background-color: white;
}