.columns{
    margin: 0px;
}

.column{
    padding: 1em;
}

.content-wrapper{
    width: 100%;
}

.create-button{
    float: right;
}

.input-wrapper, .page-title{
    margin-bottom: 1em;
}

.error-message{
    color: #ff0033;
}