<p>Group</p>
<div *ngIf="showData" class="container">
    <div class="row">
        <div class="col-sm-4" style="word-wrap: break-word;">
            <h1>{{group.name}}</h1>
            <p>{{group.description}}</p>
        </div>
        <div class="col-sm-4">
            <h1>AppEvents</h1>
            <app-reusable-event-list [dateEventInfoDict]="dateEventInfoDict"></app-reusable-event-list>
        </div>
        <div class="col-sm-4">
            <h1>Members</h1>
            <app-member-list [members]="group.members"></app-member-list>
        </div>
    </div>
</div>