<p>Group</p>

<app-spinner *ngIf="!showData"></app-spinner>
<div *ngIf="showData" class="container">
    <div class="row">
        <div class="col-sm-4" style="word-wrap: break-word;">
            <app-edit-in-place 
                [data]='group.name' [styling]='groupNameStyling' [validators]='groupNameValidators' 
                [errorMessage]="groupNameMessage" (focusOut)='saveGroupName($event)' [editPossible]='isAdminOfGroup'></app-edit-in-place>
            <app-edit-in-place 
                [data]='group.description' [textArea]='true' [validators]='groupDescriptionValidators' 
                [errorMessage]="groupDescriptionMessage" (focusOut)='saveGroupDescription($event)' [editPossible]='isAdminOfGroup'></app-edit-in-place>
                <button class="mat-raised-button" (click)='leaveGroup()'>Leave Group</button>
        </div>
        <div class="col-sm-4">
            <h1>AppEvents</h1>
            <app-reusable-event-list [dateEventInfoDict]="dateEventInfoDict"></app-reusable-event-list>
            <button *ngIf="isAdminOfGroup" class="mat-raised-button" (click)="createEvent()">Create event</button>
        </div>
        <div class="col-sm-4">
            <h1>Members</h1>
            <app-member-list [members]="group.members"  [userIsAdmin]="isAdminOfGroup" [inGroupView]="true"></app-member-list>
            <button *ngIf="isAdminOfGroup" class="mat-raised-button" (click)="addMembers()">Add members</button>
        </div>
    </div>
</div>
