.event-list-item{
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: lightblue;
    border-radius: 10px;
    text-align: left;
}

.event-column{
    padding: 5px;
}

.group-column{
    background-color:lightsalmon;
    word-wrap: break-word;
}