.event-list-item{
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: left;
}

.event-not-attending{
    background-color: lightblue;
}

.event-attending{
    background-color: lightgreen;
}

.event-column{
    padding: 5px;
}

.group-column{
    background-color:lightsalmon;
    word-wrap: break-word;
}